@charset "UTF-8";

.root {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 5vmin;
  height: 5vmin;
}

.pink {
  background-color: #ff00ff;
}

.container {
  display: grid;
  grid-template-columns: repeat(20, 5vmin);
  gap: 0;
  justify-content: center; /* この行を追加 */
}

.row {
  display: contents;
}

.select {
  width: 8em;
}

.input {
  width: 5em;
}

.container-wrapper{
  margin-top: 2em;
}