@charset "UTF-8";

.root{
  padding: 20px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}

.pink {
  background-color: #ff00ff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 390px;
  margin: auto;
}
